{
  "Tags": {
    "cfl:application": "$APPLICATION_NAME",
    "cfl:cost-center": "$PROJECT_NAME",
    "cfl:owner": "$PROJECT_NAME",
    "cfl:project-code": "$PROJECT_NAME",
    "cfl:build-id": "$CODEBUILD_BUILD_ID",
    "cfl:artifact-storage": "$DEPLOYMENT_BUCKET"
  }
}